<%- include("header") -%>

<div class="box" id="heading">
  <div class="dropdown">
    <button class="dropdown-toggle fs-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= listTitle %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/">Today</a></li>
      <li><a class="dropdown-item" href="/Work">Work</a></li>
      <li><a class="dropdown-item" href="/Hobby">Hobby</a></li>
    </ul>
  </div>
</div>

<div class="box">
  <% newListItems.forEach(item => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item._id %>"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>

  <% }); %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button class="heartbeat" id="add" type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
